@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.greetings {
    &__container {
        padding: 0;
        margin: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        gap: 1.6667rem;
        height: 100vh;
    }

    &__content {
        @include flex-center;

        border-radius: $border-radius;
        background-color: $background-color-grey;
        height: calc(100% - ($padding-main * 2));
        width: 50%;
        margin: $padding-home 3rem $padding-home 0;

        &-wrap {
            @include flex-center;

            padding: 10px;
        }

        &-title {
            @include title-text(2.4rem, 2.8rem, 400);

            margin-bottom: 2rem;
        }

        &-descr {
            @include basic-text(1rem, 1.3333rem);

            max-width: 22rem;
            margin-bottom: 1.3333rem;
            align-self: flex-start;
        }
    }

    &__button {
        @include button(1rem, 1.3333rem);

        padding: 0.6667rem 10rem;
    }

    &__button-signin {
        @include basic-text(1rem, 1.3333rem);

        margin-top: 1.3333rem;
        user-select: none;
    }

    &__button-signin:hover {
        @include basic-text(1.2rem, 1.3333rem);

        text-decoration: underline;
        cursor: pointer;
    }
}

@media only screen and (width <= 650px) {
    .greetings {
        width: 100%;

        &__content {
            width: 100%;
            margin: 15px;
            align-self: flex-start;
    
            &-descr {
                align-self: center;
                text-align: center;
            }
        }
    
        &__button {
            padding: 0.6667rem 8rem;
        }
    }
}