@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.home {
    display: flex;
    justify-content: flex-end;
    background-color: $background-color-grey;
    height: calc(100vh - 28px);
    width: calc(100vw - 28px);
    padding: 0.9333rem;

    &__main {
        background-color: $background-main;
        border: 1px solid #BDBDBD;
        height: calc(100% - 36px);
        width: 55%;
        border-radius: 15px;
        padding: 1.2rem 1.8667rem;
    }
}
