@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.sing-up {
    &__wrap {
        @include flex-center;
    
        width: 60%;
        max-width: 302px;
    }

    &__container {
        padding: 0;
        margin: 0;
        background-color: #fff;
        display: flex;
        gap: 1.6667rem;
        height: 100vh;
    }

    &__content {
        @include flex-center;

        border-radius: $border-radius;
        background-color: $background-color-grey;
        width: 50%;
        margin: $padding-home 3rem $padding-home 0;
    }
    
    &__title {
        @include title-text(2.4rem, 2.8rem, 700);

        align-self: flex-start;
    }

    &__form {
        @include flex-center;

        gap: 1.3333rem;
        width: 100%;
    }

    &__input {
        @include input;
        @include basic-text(1rem, 1.12rem);

        padding: 0.333rem 0.8rem;
        width: 93%;
    }

    &__button {
        @include button(1rem, 1.3333rem);

        width: 100%;
        height: 40px;
        margin-top: 1rem;
    }

    &__message {
        @include basic-text(1rem, 1.3333rem);

        margin-bottom: 1rem;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: anywhere;

        &_success {
            color: green;
        }

        &_error {
            color: red;
        }
    }
}

@media only screen and (width <= 650px) {
    .sing-up {
        width: 100%;

        &__wrap {
            width: 100%;
        }
    
        &__content {
            width: 100%;
            margin: 15px;
        }
    }
}