@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.sing-in {
    &__wrap {
        @include flex-center;
    
        width: 60%;
        max-width: 302px;
    }

    &__container {
        padding: 0;
        margin: 0;
        background-color: #fff;
        display: flex;
        gap: 1.6667rem;
        height: 100vh;
    }

    &__content {
        @include flex-center;

        border-radius: $border-radius;
        background-color: $background-color-grey;
        width: 50%;
        margin: $padding-home 3rem $padding-home 0;
    }

    &__title {
        @include title-text(2.4rem, 2.8rem, 700);

        align-self: flex-start;
    }

    &__form {
        @include flex-center;

        gap: 1.5625rem;
    }

    &__label {
        position: relative;
    }

    &__input {
        @include input;
        @include basic-text(1rem, 1.12rem);

        padding: 0.3333rem 0.8rem;
        width: 18.3333rem;
    }

    &__img {
        position: absolute;
        top: 19%;
        right: 0.3333rem;
        border: none;
        background: none;
    }

    &__button {
        @include button(1rem, 1.3333rem);

        padding: 0.6667rem 0;
        width: 100%;
    }
}

@media only screen and (width <= 650px) {
    .sing-in {
        width: 100%;

        &__wrap {
            width: 100%;
        }
    
        &__content {
            width: 100%;
            margin: 15px;
        }
    }
}