html, body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    font: 15px/1.5 Oswald, 'Noto Sans', sans-serif;
}

a, ul, li {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}