html, body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body {
    font: 15px/1.5 Oswald, 'Noto Sans', sans-serif;
}

a, ul, li {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (width <= 650px) {
    html, body {
        overflow: visible;
    }

    #root {
        display: flex;
        justify-content: center;
        height: 100%;
        overflow-y: auto;
        min-height: 100vh;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}
