@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.create-jar {
    @include flex-center;

    gap: 2.1333rem;
    margin: 2.6667rem;
    position: relative;
    max-width: 330px;

    &__title {
        @include title-text(1.3333rem, 1.6rem, 600);
    }

    &__descr {
        @include basic-text(0.8667rem, 1rem);

        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        &__input {
            text-align: right;
            border-radius: 4px;
            border: 1px solid $calendar-day-color;
            padding: 0.4rem 0.5333rem;
            color: #333;

            &_error {
                border-color: $error-color;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              -webkit-box-shadow: 0 0 0 50px white inset;
              -webkit-text-fill-color: #333;
            }
        }

        &__input::placeholder {
            color: $calendar-day-color;
        }
    }

    &__color {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-evenly;
        margin: 0 50px;
    }
}