@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.delete-jar {
    @include flex-center;

    gap: 2.1333rem;
    margin: 2.6667rem;
    position: relative;

    &__title {
        @include title-text(1.3333rem, 1.6rem, 600);
    }

    &__descr {
        @include basic-text(0.8667rem, 1rem);

        text-align: center;
    }

    &__confirm {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
}