@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.expense-form-edit {
    @include flex-center;

    gap: 0.8rem;
    border: 1px solid #BDBDBD;
    border-radius: 1rem;
    padding: 1.1333rem 1.8667rem;
    position: relative;

    &__title {
        @include title-text(1rem, 1rem, 600);

        color: $title-color-text;
    }

    &__close {
        position: absolute;
        top: 1.0667rem;
        left: 0.2667rem;
    }

    &__value {
        @include flex-center;
        
        width: 100%;
        
        input {
            padding: 0.4667rem 0.5333rem;
            width: 100%;
            border-radius: 0.5333rem;
            border: 1px solid $calendar-day-color;
            text-align: end;
        }
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.3333rem;
        justify-content: space-evenly;
        text-transform: capitalize;
    }

    &__date {
        width: 85%;
    }

    &__button {
        display: flex;
        gap: 1.8rem;
    }

    &__update {
        @include basic-text(0.8667rem, 1rem);

        background-color: $btn-color;
        color: #fff;
        padding: 0.7667rem 3.9rem;
        border-radius: 0.5333rem;
    }

    &__delete {
        @include basic-text(0.8667rem, 1rem);

        background-color: $error-color;
        color: #fff;
        padding: 0.7667rem 1.4rem 0.7667rem 2.1333rem;
        border-radius: 0.5333rem;
        background-image: url('~/src/images/icon/trash-white.png');
        background-repeat: no-repeat;
        background-position: 0.6667rem 0.6667rem;
    }
}