@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.filters {
    @include flex-center;

    gap: 1.1rem;
    border: 1px solid #BDBDBD;
    border-radius: 15px;
    padding: 1.1333rem 1.8667rem;
    position: relative;
    margin-top: 10px;

    &__close {
        position: absolute;
        top: 1.0667rem;
        left: 0.2667rem;
    }

	&__title {
		@include title-text(1rem, 1rem, 600);

        color: $title-color-text;
        text-transform: capitalize;
		text-align: center;
		margin-bottom: 15px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__item {
		&__container {
			display: flex;
			flex-wrap: wrap;
			row-gap: 0.3333rem;
			justify-content: space-evenly;
			text-transform: capitalize;
			position: relative;
			margin-bottom: 5px;
		}

		&__list {
			display: none;
		}
	
		&__list + label {
			@include basic-text(0.7333rem, 0.8rem);
			@include flex-center;
			
			flex-direction: column;
			gap: 4px;
			color: $basic-color-text;
			cursor: pointer;
			width: 4rem;
			height: 4rem;
			padding: 0;
		}
	
		&__label:hover {
			background-color: $selected-color;
			border-radius: 0.2667rem 0.2667rem 0 0;
		}
	
		&__list:checked + label {
			background-color: $selected-color;
			border-radius: 0.2667rem 0.2667rem 0 0;
		  }

		&__name {
			@include basic-text(0.8667rem, 1rem);

			text-transform: capitalize;
		}
	}

	&__actions {
		display: flex;
		justify-content: center;
		gap: 15px;

		&__btn {
			@include title-text(0.8667rem, 1rem, 400);

			height: 27px;
			border-radius: 0.5333rem;
			width: 45%;

			&_apply {
				background-color: $btn-color;
				color: #fff;
			}

			&_clear {
				border: 1px solid $btn-color;
				background-color: $grey-medium-color;
			}
		}
	}
}