@use '../utils/mixins' as *;

.pre-auth-content {
    align-self: center;
    width: 50%;
    height: max-content;
    overflow: auto;
    margin: 0 0 0 3.3333rem;
    background-color: #fff;

    &__wrap {
        width: 100%;

        img {
            width: 100%;
        }
    }
}