$background-color-grey: #F4F4F4;
$background-main: #FFFEFE;
$title-color-text: #000;
$basic-color-text: #000000B3;
$calendar-month-color: #757575;
$calendar-month-day-color: #424242;
$calendar-weekend-color: #EF2B1F;
$calendar-day-color: #BDBDBD;
$border-radius: 2.6667rem;
$selected-color: #F8F0FC;
$content-max-width: 400px;
$grey-medium-color: #D9D9D9;
$error-color: #F83E3E;
$btn-color: #333;
$padding-home: 14px;
$padding-main: 18px;