$background-color-grey: #F4F4F4;
$background-main: #FFFEFE;
$basic-color-text: #000;
$calendar-month-color: #757575;
$calendar-month-day-color: #424242;
$calendar-weekend-color: #EF2B1F;
$calendar-day-color: #BDBDBD;
$border-radius: 2.6667rem;
$jar-color: #C864EC66;